<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container-fluid">
  <div class="row">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          <!-- <button type="button" class="btn btn-outline-primary" [routerLink]="['/clientes']"><i
              class="fas fa-arrow-left"></i></button> -->
          Ventas
        </h1>

        <div class="btn-toolbar mb-2 mb-md-0">

          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"
              [routerLink]="['/crear_cliente']">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
              [routerLink]="['/crear_cliente']">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>

        </div>

      </div>

      <div class="card">
        <div class="card-header">
          Consultar Cliente
        </div>
        <div class="card-body ">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="cedula"
                    [(ngModel)]="cedulacliente">
                  <label for="floatingInput"> Cedula</label>

                </div>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-success" (click)="buscarCliente()"
                  (click)="buscarVentas()">Consultar <i class="fas fa-arrow-right"></i></button>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente" disabled="disabled"
                    [(ngModel)]="nombrecliente">
                  <label for="floatingInput"> Cliente</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" [(ngModel)]="consecutivo" placeholder="cedula"
                    disabled="disabled">
                  <label for="floatingInput"> Consecutivo</label>
                </div>
              </div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar una ciudad</option>
                <option value="1">Bogotá</option>
                <option value="2">Medellín</option>
                <option value="3">Barrancabermeja</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Inserte los datos solicitados.
        </div>
        <div class="card-body">
          <!--Producto 1-->
          <div class="container">
            <div class="d-flex">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="codigoproducto"
                    [(ngModel)]="codigoproducto" (keyup)="buscarProducto()">
                  <label for="floatingInput"> Codigo Producto</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="nombreproducto"
                    [(ngModel)]="nombreproducto" disabled="disabled">
                  <label for="floatingInput"> Nombre Producto</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="calcular"
                    [(ngModel)]="cantidad" (keyup)="calcularSubtotal()">
                  <label for="floatingInput"> Cantidad</label>
                </div>
              </div>
              <div class="col">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente"
                    [(ngModel)]="valortotalproducto" disabled="disabled">
                  <label for="floatingInput"> Valor Total</label>
                </div>
              </div>
            </div>
          </div>
          <!--Producto 2-->
          <div class="container">
            <div class="d-flex">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="codigoproducto"
                    [(ngModel)]="codigoproducto2" (keyup)="buscarProducto2()">
                  <label for="floatingInput"> Codigo Producto</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="nombreproducto"
                    [(ngModel)]="nombreproducto2" disabled="disabled">
                  <label for="floatingInput"> Nombre Producto</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="calcular"
                    [(ngModel)]="cantidad2" (keyup)="calcularSubtotal2()">
                  <label for="floatingInput"> Cantidad</label>
                </div>
              </div>
              <div class="col">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente"
                    [(ngModel)]="valortotalproducto2" disabled="disabled">
                  <label for="floatingInput"> Valor Total</label>
                </div>
              </div>
            </div>
          </div>
          <!--Producto 3-->
          <div class="container">
            <div class="d-flex">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="codigoproducto"
                    [(ngModel)]="codigoproducto3" (keyup)="buscarProducto3()">
                  <label for="floatingInput"> Codigo Producto</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="nombreproducto"
                    [(ngModel)]="nombreproducto3" disabled="disabled">
                  <label for="floatingInput"> Nombre Producto</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="calcular"
                    [(ngModel)]="cantidad3" (keyup)="calcularSubtotal3()">
                  <label for="floatingInput"> Cantidad</label>
                </div>
              </div>
              <div class="col">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente"
                    [(ngModel)]="valortotalproducto3" disabled="disabled">
                  <label for="floatingInput"> Valor Total</label>
                </div>
              </div>
            </div>
          </div>
          <!--Botones confirmar y enviar-->
          <div class="container">
            <div class="d-flex flex-wrap">
              <div class="col" style="text-align: right;">
                <button class="btn btn-primary" type="submit" (click)="confirmar()">Confirmar</button>
                <button class="btn btn-success" type="submit" (click)="enviar()">enviar</button>
              </div>
              <div class="col-1"></div>
              <div class="col-1">
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente"
                  [(ngModel)]="totalventa" disabled="disabled">
                  <label for="floatingInput"> Total Venta</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente"
                  [(ngModel)]="totaliva" disabled="disabled">
                  <label for="floatingInput"> Total IVA</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Cliente"
                  [(ngModel)]="totalconiva" disabled="disabled">
                  <label for="floatingInput"> Total con IVA</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>