
<div class="container" id="container">
    
    <!--Login Iniciar sesion-->
	<div class="form-container sign-in-container">
		<div class="form" action="#">
			<h1>Inicia Sesión</h1>
			<div class="social-container">
				<a href="https://discord.gg/U6QUyTYuyn" class="social"><i class="fab fa-discord"></i></a>
				<a href="https://github.com/acaycedo/G39Equipo2Ciclo4" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="https://github.com/acaycedo/G39Equipo2Ciclo4" class="social"><i class="fab fa-github-square"></i></a>
			</div>
			<input type="text" placeholder="Usuario" [(ngModel)]="user"/>
			<input type="password" placeholder="Contraseña" [(ngModel)]="pass"/>
			<a href="#">¿Olvido su contraseña?</a>
			<button (click)="comparar()">Iniciar</button>
            <br>
				<div *ngIf="correcto==2"  class="alert alert-warning" role="alert">
                Asegurese de haber llenado ambos campos.
                </div>
                <div *ngIf="correcto==1"  class="alert alert-success" role="alert">
                Acceso Correcto.
                </div>
                <div *ngIf="correcto==0"  class="alert alert-danger" role="alert">
                Usuario o Contraseña incorrecto.
                </div>
            </div>
        
	</div>

    <!--Hasta aca-->
	<div class="overlay-container">
		<div class="overlay">
            <!--Msj de al lado-->
			<div class="overlay-panel overlay-right">
				<h1>¡Hola de nuevo!</h1>
				<p>Bienvenido a Store Team Two</p>
                <!--Boton de quienes somos-->
				<button class="ghost" id="signUp">Quienes Somos</button>
			</div>
		</div>
	</div>
</div>
