<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container-fluid">
  <div class="row">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Clientes</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Cédula" aria-label="First name"
                [(ngModel)]="cedulacliente">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Correo" aria-label="Last name" [(ngModel)]="correo">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Dirección" aria-label="First name"
                [(ngModel)]="direccion">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="Last name"
                [(ngModel)]="nombrecompleto">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Teléfono" aria-label="First name"
                [(ngModel)]="telefono">
            </div>
          </div>
          <div class="row">
            <div class="col-mg-6">
              <div class="btn-group">
                <button class="btn btn-success" type="button" (click)="postData()"> Crear</button>
                <button class="btn btn-primary" type="button"> Actualizar</button>
                <button class="btn btn-danger" type="button"> Borrar</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <h2>Tabla Clientes</h2>
      <div class="table-responsive">
        <table class="compact nowrap table table-dark table-hover table-striped" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Id BD</th>
              <th>Cédula</th>
              <th>Nombre Completo</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of contenido" class="">
              <td>{{cliente.id}}</td>
              <td>{{cliente.cedulacliente}}</td>
              <td>{{cliente.nombrecompleto}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.correo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <br>
      <br>
    </main>
  </div>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>