<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container-fluid">
  <div class="row">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Usuarios</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
        
      </div>
      <div class="container">
        <div class="row">
            <button class="btn btn-success" type="button"> Crear</button>
            <button class="btn btn-primary" type="button"> Actualizar</button>
            <button class="btn btn-danger" type="button"> Borrar</button>
          </div>
          <div class="col col-lg-2">
            

          </div>
        </div>      
    <br>
      <h2>Tabla Usuarios</h2>
      <div class="table-responsive">
        <table class="compact nowrap table table-dark table-hover table-striped" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Id BD</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Nombre Completo</th>
              <th>Correo</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of contenido" class="">
              <td>{{usuario.id}}</td>
              <td>{{usuario.username}}</td>
              <td>{{usuario.password}}</td>
              <td>{{usuario.nombrecompleto}}</td>              
              <td>{{usuario.email}}</td>              
            </tr>
          </tbody>
        </table>
      </div>  
    </main>
  </div>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>